/* Header para editar titulo */
.header-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    background: #E0FBFC;
    padding: 20px;
    border-radius: 10px;
}

.routine-title-input {
    font-size: 2rem;
    font-weight: bold;
    border: none;
    background: transparent;
    border-bottom: 2px solid #253237;
    color: #253237;
    width: 60%;
}

.btn-save-global {
    background-color: #253237;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    border: none;
}

.btn-save-global:hover {
    background-color: #4CAF50; /* Verde al guardar */
}

/* Inputs dentro de la tarjeta de ejercicio */
.input-exercise-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #253237;
    border: 1px dashed #ccc;
    background: rgba(255,255,255,0.7);
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 4px;
}

.serie-inputs {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 5px;
}

.serie-inputs input {
    width: 60px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    text-align: center;
}

.btn-add-day {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    background: transparent;
    border: 2px dashed #253237;
    cursor: pointer;
    font-weight: bold;
    color: #253237;
}