.mis_rutinas{
    border: 1px solid black;
    margin-bottom: 20PX;
}

.rutina_cliente{
    border: 1px solid black;

}

.rutinas_pre{
    border: 1px solid black;
}

.ritinita_pre{
    border: 1px solid black;
}